/*
 * @Author: Mr.Hope
 * @Date: 2019-06-13 07:41:33
 * @Description: 公共样式
 */
.desc, .desc2, .desc3
  font-size 14px
  color #888
  margin 4px 5%

.desc
  text-align right

.desc2
  text-align left

a
  color #2ecc71
